<div class="footer">
  <div class="ui blue vertical segment">
    <div class="ui container">
        <div class="row">
          <h5> &copy; Team Five {{showyear}} | <a href="/contact" class="contact">Contact</a></h5>
      </div>
    </div>
  </div>
</div>
