<footer class="container text-center py-3">
    <p class="text-blue">&copy; team five {{showyear}} </p>
    <div class="div-geo">
      On Load, load the geo coordinates
      <p id = "status"></p>
      <a id = "map-link" target="_blank"></a>
  
    </div>
    <script src="/assets/js/geo-navigator.js"></script>
</footer>