<div class="footer">
  <div class="ui blue">
    <div class="ui container">

      <div class="ui inverted divided equal height stackable grid">

        <div class="three wide column">
          <p><a href="/contact" class="contact">Contact</a></p>
        </div>
        
        <div class="ten wide column">
          <p>&copy; {{showyear}} David Barron, Robyn Graham, Joe Mogannam, Lydia Loy. All rights reserved. </p>
        </div>

      </div>

    </div>
  </div>
</div>