<div class="ui blue vertical footer segment">
  <div class="ui container">
    
      <div class="row">
        <h5 class="ui inverted header"> &copy; Team Five {{showyear}}  |  <a href="/contact" class="contact">Contact</a></h5>
      </div>
      
        
      
    </div>
  </div>
</div>