<div class="footer">
  <div class="ui blue segment">
    <div class="ui container blue">
        <div class="row">
           &copy; Team Five {{showyear}}   |   <a href="/contact" class="contact">Contact</a>
      </div>
    </div>
  </div>
</div>
