<div class="pusher">
    <div class="ui blue vertical masthead center aligned segment">
        <div class="ui container">
            <div class="ui blue inverted pointing menu">
                <div class="ui two column grid">
                    <div class="row">
                        <div class="column">
                            <img src="/assets/images/logo.png"  alt="">
                        </div>
                    </div>
                </div>
                <div class="right item">
                    <a class="ui inverted button" href="/">Home</a>
                    <a class="ui inverted button" href="/view-posts">View Posts</a>
                    <a class="ui inverted button" href="/login">Log in</a>
                    <a class="ui inverted button" href="/signup">Sign Up</a>
                </div>
            </div>
        </div>

    </div>
{{!-- 
    <ul class="navbar-nav">
        
        {{#if loggedIn}} 
            <li><button id="logout" class="nav-link">logout</button></li>
        {{else}}
            <li class="nav-item"  ><a class="nav-link" href="/login">login</a></li>
        {{/if}}
        
        
    </ul> --}}


</nav>
    </div>
