<div class="pusher">
    <div class="ui blue vertical masthead center aligned segment">
        <div class="ui container">

            <div class="ui stackable menu inverted">
                <div class="item">
                    <a href="/">
                        <img src="/assets/images/logo.png" height="90px" width="90px" alt="logo">
                    </a>
                </div>

                <div class="right menu">
                    <a class="item" href="/">Home</a>
                    <a class="item" href="/view-posts">View Posts</a>
                    {{#if loggedIn}}
                    {{!-- Id needs to be logout for user to logout. Referenced in logout.js --}}
                    <a class="item logout" id="logout" >Logout</button>
                    {{else}}
                    <a class="item" href="/login">Login</a>
                    <a class="item" href="/signup">Sign Up</a>
                    {{/if}}

                </div>

            </div>

        </div>
    </div>
</div>