<nav class="navbar navbar-expand-lg h-10" style="background-color:#1c4886ff">
    <div class="container">
        <div class="h-5 justify-content-left">
            <img src="/assets/images/logo.png" alt="logo">
        </div>
        <div>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link justify-content-right" style="color: #eeeeeeff" href="#">Log in</a>
                </li>
            </ul>
        </div>
    </div>
</nav>