<div class="ui hidden divider"></div>
<div class="ui three column grid centered container">
    <div class="row">
        <div class="ui column link cards">
            <div class="card">
                <div class="image">
                    <img src="https://semantic-ui.com/images/avatar2/large/patrick.png">
                </div>
                <div class="content">
                    <div class="header">David Barron</div>
                    <div class="description">
                        David is a software engineer.
                    </div>
                </div>
                <div class="extra content">
                    <span>
                        <a href="https://github.com/webgeekbear"></a>
                        GitHub
                    </span>
                </div>
            </div>
        </div>
        <div class="ui column link cards">
            <div class="card">
                <div class="image">
                    <img src="https://semantic-ui.com/images/avatar2/large/molly.png">
                </div>
                <div class="content">
                    <div class="header">Robyn Graham</div>
                    <div class="description">
                        Robyn is a freelance web developer.
                    </div>
                </div>
                <div class="extra content">
                    <span>
                        <a href="https://github.com/robyng"></a>
                        GitHub
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="ui column link cards">

            <div class="card">
                <div class="image">
                    <img src="https://semantic-ui.com/images/avatar/large/christian.jpg">
                </div>
                <div class="content">
                    <div class="header">Joe Mogannam</div>
                    <div class="description">
                        Joe is a web developer.
                    </div>
                </div>
                <div class="extra content">
                    <span>
                        <a href="https://github.com/webgeekbear"></a>
                        GitHub
                    </span>
                </div>
            </div>
        </div>
        <div class="ui column link cards">
            <div class="card">
                <div class="image">
                    <img src="https://semantic-ui.com//images/avatar/large/stevie.jpg">
                </div>
                <div class="content">
                    <div class="header">Lydia Loy</div>
                    <div class="description">
                        Lydia is a beginner coder.
                    </div>
                </div>
                <div class="extra content">
                    <span>
                        <a href="https://github.com/flowingcityloy"></a>
                        GitHub
                    </span>
                </div>
            </div>
        </div>
    </div>
    