<div class="ui hidden divider"></div>
<div class="ui three column grid centered container">
    <div class="row">
        <div class="ui column link cards">
            <div class="card">
                <div class="image">
                    <img src="https://semantic-ui.com/images/avatar2/large/patrick.png">
                </div>
                <div class="content">
                    <div class="header">David Barron</div>
                    <div class="description">
                        David is a software engineer.
                    </div>
                </div>
                <div class="extra content">
                    <span>
                        <a href="https://github.com/webgeekbear" target="_blank">GitHub</a>
                    </span> <br />
                    <span>
                        <a href="mailto:webgeekbear@gmail.com">Send email</a>
                    </span>
                </div>
            </div>
        </div>
        <div class="ui column link cards">
            <div class="card">
                <div class="image">
                    <img src="https://semantic-ui.com/images/avatar2/large/molly.png">
                </div>
                <div class="content">
                    <div class="header">Robyn Graham</div>
                    <div class="description">
                        Robyn is a freelance web developer.
                    </div>
                </div>
                <div class="extra content">
                    <span>
                        <a href="https://github.com/robyng" target="_blank">GitHub</a>
                    </span><br />
                    <span>
                        <a href="mailto:robynhraham02@gmail.com">Send email</a>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="ui column link cards">

            <div class="card">
                <div class="image">
                    <img src="https://semantic-ui.com/images/avatar/large/christian.jpg">
                </div>
                <div class="content">
                    <div class="header">Joe Mogannam</div>
                    <div class="description">
                        Joe is a web developer.
                    </div>
                </div>
                <div class="extra content">
                    <span>
                        <a href="https://github.com/mogannam" target="_blank">GitHub</a>
                    </span><br />
                    <span>
                        <a href="mailto:Joemogannam@gmail.com">Send email</a>
                    </span>
                </div>
            </div>
        </div>
        <div class="ui column link cards">
            <div class="card">
                <div class="image">
                    <img src="https://semantic-ui.com//images/avatar/large/stevie.jpg">
                </div>
                <div class="content">
                    <div class="header">Lydia Loy</div>
                    <div class="description">
                        Lydia is a beginner coder.
                    </div>
                </div>
                <div class="extra content">
                    <span>
                        <a href="https://github.com/flowingcityloy" target="_blank">GitHub</a>
                    </span><br />
                    <span>
                        <a href="mailto:flowingcityloy@gmail.com">Send email</a>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="ui hidden divider"></div>