    
    <div class="ui text top container">
      <p class="ui inverted header">
        
      </p>
      <h1>Emergency Center</h1>
      <a class="ui large primary button" href="/view-posts"> Get Started <i class="right arrow icon"></i></a>
    </div>

  </div>

  <div class="ui vertical stripe segment">
    <div class="ui text container">
      <h3 class="ui header">Breaking News</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio dolorem magnam ullam deleniti nam aliquam! Vel non suscipit, recusandae sint sunt illo veniam cum quod voluptates reprehenderit sed reiciendis amet!.</p>
      <a href="view-posts"class="ui medium button">Read More</a>
      <h4 class="ui horizontal header divider">

      </h4>
      <h3 class="ui header">What's happening in your area?</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores sequi quod possimus perspiciatis. Vel illo sint, explicabo debitis voluptatum voluptatem, blanditiis iste corrupti dolor fugit praesentium ea nemo corporis voluptas!</p>
      <a href="view-posts" class="ui medium button">Read More</a>
    </div>
  </div>

