<video autoplay muted id="myVideo">
  <source src="/assets/images/emergency.mp4" type="video/mp4">
  Your browser does not support HTML5 video.
</video>    
    <div class="ui text top container">
      <div class="title">Emergency Center</div>
      <a class="ui large primary button" href="/view-posts"> Get Started <i class="right arrow icon"></i></a>
    </div>
  </div>


