    
    <div class="ui text top container">
      <p class="ui inverted header">
        
      </p>
      <h1>Emergency Center</h1>
      <a class="ui large primary button" href="/view-posts"> Get Started <i class="right arrow icon"></i></a>
    </div>

  </div>

  <div class="ui vertical stripe segment">
    <div class="ui text container">
      <h3 class="ui header">Breaking News</h3>
      <p>Americans don’t always fear the things we should.This summer, my dad visited us every week in the Pacific Northwest to play with the grandkids, and every week I could predict what his complaints would be: The record-breaking heat in the area was aggravating him, as was the chronic pain in his back — a deep ache still lingering from a major car accident two years ago. The common cause in these events was not lost on me.</p>
      <a href="view-posts"class="ui medium button">Read More</a>
      <h4 class="ui horizontal header divider">

      </h4>
      <h3 class="ui header">What's happening in your area?</h3>
      <p>Four people have died and two people have been injured in a terrible single-vehicle accident that ended up splitting their car in half. The incident occurred at approximately 2:24 p.m. on Saturday, July 17, in Hickory Hills, Illinois, when police say a car with six people inside ended up losing control and striking a tree, according to a report from ABC News’ Chicago station WLS.</p>
      <a href="view-posts" class="ui medium button">Read More</a>
    </div>
  </div>

