<div class="ui middle aligned center aligned grid">
  <div class="login column">
    <h2 class="ui image header">
      <div class="ui hidden divider"></div>
      <div class="content">
        Log-in to your account
      </div>
    </h2>
    <form class="ui large form login-form">
      <div class="ui stacked segment">
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <input id="username-login" type="text" name="username" placeholder="Username">
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <input id="password-login" type="password" name="password" placeholder="Password">
          </div>
        </div>
        <button class="ui fluid large blue submit button">Login</button>
       <div class="ui error message"></div>
      </div>
     
    </form>
    <div class="ui message">
      New to us? <a href="/signup">Sign Up</a>
    </div>
  </div>
</div>
<script src="/assets/js/login.js"></script>