<div class="ui three column centered grid container">
  <div class="row">
    <div class="column">
      <div class="ui hidden divider"></div>

      <form class="ui form">
        <h4 class="ui dividing header">Signup Information</h4>
        <div class="field">
          <label>Name</label>
          <div class="two fields">
            <div class="field">
              <input type="text" id="first-name" name="first-name" placeholder="First Name">
            </div>
            <div class="field">
              <input type="text" id="last-name" name="last-name" placeholder="Last Name">
            </div>
          </div>
        </div>
        <div class="field">
          <label>Username</label>
          <div class="fields">
            <div class="sixteen wide field">
              <input type="text" name="username" placeholder="Username">
            </div>
          </div>
        </div>
        <div class="field">
          <label>Password</label>
          <div class="fields">
            <div class="sixteen wide field">
              <input type="text" name="password" placeholder="Password">
            </div>
          </div>
        </div>
        <div class="field">
          <label>Phone Number</label>
          <div class="fields">
            <div class="sixteen wide field">
              <input type="text" name="phone-number" placeholder="Phone Number">
            </div>
          </div>
        </div>
        <div class="three fields">
          <div class="sixteen wide field">
            <label>Avatar</label>
            <select class="ui fluid dropdown">
              <option value="">Avatar</option>
              <option value="https://semantic-ui.com/images/avatar/large/ade.jpg">Ade</option>
              <option value="https://semantic-ui.com/images/avatar/large/chris.jpg">Chris</option>
              <option value="https://semantic-ui.com/images/avatar/large/christian.jpg">Christian</option>
              <option value="https://semantic-ui.com//images/avatar/large/elliot.jpg">Elliot</option>
              <option value="https://semantic-ui.com/images/avatar2/large/elyse.png">Elyse</option>
              <option value="https://semantic-ui.com/images/avatar2/large/eve.png">Eve</option>
              <option value="https://semantic-ui.com/images/avatar/large/helen.jpg">Helen</option>
              <option value="https://semantic-ui.com//images/avatar/large/jenny.jpg">Jenny</option>
              <option value="https://semantic-ui.com//images/avatar/large/joe.jpg">Joe</option>
              <option value="https://semantic-ui.com/images/avatar/large/justen.jpg">Justin</option>
              <option value="https://semantic-ui.com/images/avatar2/large/kristy.png">Kristy</option>
              <option value="https://semantic-ui.com/images/avatar/large/laura.jpg">Laura</option>
              <option value="https://semantic-ui.com/images/avatar/large/matt.jpg">Matt</option>
              <option value="https://semantic-ui.com/images/avatar2/large/molly.png">Molly</option>
              <option value="https://semantic-ui.com/images/avatar/large/nan.jpg">Nan</option>
              <option value="https://semantic-ui.com/images/avatar2/large/patrick.png">Patrick</option>
              <option value="https://semantic-ui.com//images/avatar/large/steve.jpg">Steve</option>
              <option value="https://semantic-ui.com//images/avatar/large/stevie.jpg">Stevie</option>
              <option value="https://semantic-ui.com/images/avatar/large/veronika.jpg">Veronika</option>
            </select>
          </div>
        </div>
      </form>
      <button class="ui primary button">
        Submit
      </button>
      <button class="ui button">
        Cancel
      </button>

    </div>

    <div class="column margin-left">
      <div class="ui hidden divider"></div>
      <div class="ui card">
        <div class="image">
          <img id="image-placeholder" src="https://semantic-ui.com/images/avatar2/large/kristy.png">
        </div>
        <div class="content">
          <a class="header" id="name-placeholder">Kristy</a>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="/assets/js/signup.js"></script>