<div class="ui hidden divider"></div>




<div class="ui centered container">
  <div class="create-post-title">
    <h3>Create New Post <a href="/create-post"> <i class="plus icon"></i></a> </h3>
  </div>

  <div class="topic">

    <h1>Forest Fire</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi perspiciatis odio ab reiciendis sapiente dolore
      asperiores adipisci distinctio nostrum doloremque laboriosam rem sed, consequuntur repellendus, assumenda, id
      repudiandae praesentium! Veniam.<b data-id="comment1" data-status="hide" class="comment"> comments(3)</b></p>
    <div id="comment1" class="ui comments hide">
      <h3 class="ui dividing header">Comments <a href="/comments"><i class="plus icon"></i> </a> </h3>
      <div class="comment">
        <a class="avatar">
          <img src="https://semantic-ui.com/images/avatar/small/matt.jpg">
        </a>
        <div class="content">
          <a class="author">Matt</a>
          <div class="metadata">
            <span class="date">Today at 5:42PM</span>
          </div>
          <div class="text">
            How artistic!
          </div>
          <div class="actions">
            <a class="reply">Reply</a>
          </div>
        </div>
      </div>
      <div class="comment">
        <a class="avatar">
          <img src="https://semantic-ui.com/images/avatar2/small/molly.png">
        </a>
        <div class="content">
          <a class="author">Molly</a>
          <div class="metadata">
            <span class="date">Yesterday at 12:30AM</span>
          </div>
          <div class="text">
            <p>This has been very useful for my research. Thanks as well!</p>
          </div>
          <div class="actions">
            <a class="reply">Reply</a>
          </div>
        </div>
      </div>
      <div class="comment">
        <a class="avatar">
          <img src="https://semantic-ui.com//images/avatar/small/joe.jpg">
        </a>
        <div class="content">
          <a class="author">Joe Henderson</a>
          <div class="metadata">
            <span class="date">5 days ago</span>
          </div>
          <div class="text">
            Dude, this is awesome. Thanks so much
          </div>
          <div class="actions">
            <a class="reply">Reply</a>
          </div>
        </div>
      </div>

    </div>

  </div>

  <div class="ui hidden divider"></div>
  <div class="topic">
    <h1>Tornado</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi perspiciatis odio ab reiciendis sapiente dolore
      asperiores adipisci distinctio nostrum doloremque laboriosam rem sed, consequuntur repellendus, assumenda, id
      repudiandae praesentium! Veniam. <span> <b> comments(3)</b> </span> </p>
    <div class="ui comments hide">
      <h3 class="ui dividing header">Comments</h3>
      <div class="comment">
        <a class="avatar">
          <img src="https://semantic-ui.com/images/avatar/large/laura.jpg">
        </a>
        <div class="content">
          <a class="author">Laura</a>
          <div class="metadata">
            <span class="date">Today at 12:02PM</span>
          </div>
          <div class="text">
            How terrible!
          </div>
          <div class="actions">
            <a class="reply">Reply</a>
          </div>
        </div>
      </div>
      <div class="comment">
        <a class="avatar">
          <img src="https://semantic-ui.com/images/avatar/large/helen.jpg">
        </a>
        <div class="content">
          <a class="author">Helen</a>
          <div class="metadata">
            <span class="date">Today at 12:30pM</span>
          </div>
          <div class="text">
            <p>This is awful!</p>
          </div>
          <div class="actions">
            <a class="reply">Reply</a>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="ui hidden divider"></div>
  <div class="topic">
    <h1>Tornado</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi perspiciatis odio ab reiciendis sapiente dolore
      asperiores adipisci distinctio nostrum doloremque laboriosam rem sed, consequuntur repellendus, assumenda, id
      repudiandae praesentium! Veniam.<b class="ui green inverted"> comments(3)</b></p>
    <div class="ui comments hide">
      <h3 class="ui dividing header">Comments</h3>
      <div class="comment hide">
        <a class="avatar">
          <img src="https://semantic-ui.com/images/avatar/large/laura.jpg">
        </a>
        <div class="content">
          <a class="author">Laura</a>
          <div class="metadata">
            <span class="date">Today at 12:02PM</span>
          </div>
          <div class="text">
            How terrible!
          </div>
          <div class="actions">
            <a class="reply">Reply</a>
          </div>
        </div>
      </div>
      <div class="comment">
        <a class="avatar">
          <img src="https://semantic-ui.com/images/avatar/large/helen.jpg">
        </a>
        <div class="content">
          <a class="author">Helen</a>
          <div class="metadata">
            <span class="date">Today at 12:30pM</span>
          </div>
          <div class="text">
            <p>This is awful!</p>
          </div>
          <div class="actions">
            <a class="reply">Reply</a>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="ui hidden divider"></div>

<script src="/assets/js/view-post.js"></script>