.blue {
    background-color: #003049 !important;
}
.footer {
    position:fixed !important;
    bottom:0 !important;
    left:0 !important;
    width: 100% !important;
}
.margin-left{
    margin-left: 10% !important;
}
html{
    overflow-y:scroll ;

}

body{
    height: 100vh !important;
}

.hide{
    display: none;
}

.create-post-title{
    text-align: right;
}

.comment{
    color:#118ab2 !important;
    font-family: Arial, Helvetica, sans-serif;
}