.blue {
  background-color: #003049 !important;
}

.margin-left {
  margin-left: 10% !important;
}

html {
  overflow-y: scroll;
}

body {
  position: absolute;
  z-index: 3;
  width: 100%;
}

.hide {
  display: none;
}

.create-post-title {
  text-align: right;
}

.comment {
  color: #118ab2 !important;
  font-family: Arial, Helvetica, sans-serif;
}

.contact {
  color: white !important;
  list-style: none;
}

.title {
  color: white !important;
  margin-top: 30px !important;
  font-size: 40pt !important;
}

#myVideo {
  position: absolute;
  z-index: -1;
  min-width: 100%;
  min-height: 100%;
}

.logolink {
  width: 100%;
}

/*to match backgorund of header*/
.ui.inverted.menu {
  background: #003049;
}

/*for login modal*/
.column.login {
  max-width: 400px;
}

/* hide lines on menu */
.ui.menu .item:before {
  width: 0px;
}

/*to keep footer from overlapping with content - margin bottom*/
#page-container {
  position: relative;
  min-height: 100vh;
  margin-bottom: 50px;
}

/*removes negative margin of -1rem, causes overlapping with footer*/
.ui.grid {
  margin-bottom: 0 !important;
}

/*fixed footer with margin*/
.footer {
  position: fixed !important;
  margin-top: 50px !important;
  bottom: 0 !important;
  left: 0 !important;
  width: 100% !important;
  color: white;
}

@media only screen and (max-width: 767px){
.ui.stackable.divided:not(.vertically).grid>.row>.column {
  padding-top: 0!important;
  padding-bottom: 0!important;
}
}