.bg-blue {
    background-color:#1c4886ff !important;
    
}
.bg-grey {
   background-color:#eeeeeeff !important; 
}
.bg-green {
    background-color:#38761dff !important;
}
.text-blue {
    color:#1c4886ff !important;
}
.navbar-nav 
{
    position: relative;
    right: 50px;
}
.nav-link {
    color:white !important;
}
footer {
    position:fixed;
    left:0;
    bottom:0;
}